{% extends "main/base.html" %}

{% load static %}

{% block header_sec %}
</header>
<header class="catalogue-header">
  <input placeholder="Введите название услуги">
  <div class="button-sequence">
    <select name="categories" id="categories">
      <option value="">Все категории</option>
      <option value="Ремонт">Ремонт</option>
  </select>
  {% for category in podcategory %}{% endfor %}
  <select name="subcategories" id="subcategories" style="display:none;">
      <option value="">Все подкатегории</option>
      <option value="Косметический ремонт">Косметический ремонт</option>
      <option value="Капитальный ремонт">Капитальный ремонт</option>
      <option value="Ремонт кухни">Ремонт кухни</option>
      <option value="Ремонт ванной">Ремонт ванной</option>
      <option value="Электромонтажные работы">Электромонтажные работы</option>
      <option value="Сантехнические работы">Сантехнические работы</option>
  </select>
  <button>
    Поиск
  </button>
</div>
</header>
{% endblock header_sec %}
{% block content %}
<main>
  <div class="service-card">
      <img class="little-thumbnail" src="{% static 'images/image.png' %}" onerror="this.onerror=null; this.src='https://toppng.com/uploads/preview/and-blank-effect-transparent-11546868080xgtiz6hxid.png';">
      <div class="card-details">
        <span class="body-text limited">название услуги название услуги название услуги название услуги</span>
        <span class="price">цена</span>
        
      </div>
      <span class="caption-text" style="padding: 0px 8px;">имя испольнителя</span>
      <button style="width:100%">Заказать</button>
  </div>
  <div class="service-card">
    <img src="{% static 'images/image.png' %}" class="little-thumbnail" onerror="this.onerror=null; this.src='https://toppng.com/uploads/preview/and-blank-effect-transparent-11546868080xgtiz6hxid.png';">
    <div class="card-details">
      <span class="body-text">название услуги</span>
      <span class="price">цена</span>
    </div>
    <span class="caption-text" style="padding: 0px 8px;">имя испольнителя</span>
    <button style="width:100%">Заказать</button>
</div>
</main>
{% endblock content %}






