{% extends "base.html" %}

{% load static %}

{% block header_sec %}
</header>
<header class="catalogue-header">
  <input placeholder="Введите название услуги">
  <div class="button-sequence">
    <select name="categories" id="categories">
      <option value="">Все категории</option>
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
  <select name="subcategories" id="subcategories" style="display:none;">
      <option value="">Все подкатегории</option>
      {% for subcategory in subcategories %}
        <option value="{{ subcategory.id }}" class="subcat-option" data-category="{{ subcategory.categories.first.id }}">{{ subcategory.name }}</option>
      {% endfor %}
  </select>
  <button>
    Поиск
  </button>
</div>
</header>
{% endblock header_sec %}
{% block content %}
<main>
  {% for service in services %}
  <div class="service-card">
      <img src="{{service.image.url}}" class="little-thumbnail" onerror="this.onerror=null; this.src='https://toppng.com/uploads/preview/and-blank-effect-transparent-11546868080xgtiz6hxid.png';">
      <div class="card-details">
        <span class="body-text limited">{{service.name}}</span>
        <span class="price">{{service.price}} ₽</span>
        <span class="caption-text">имя испольнителя</span>
      </div>
      
      <a href="{% url 'main:service' %}" style="width:100%">
        <button style="width:100%">Заказать</button>
      </a>
  </div>
  {% endfor %}
</main>
{% endblock content %}






