{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
  <div class="little-page">
    <form action='{% url "users:edituser" %}' class="card" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="username" id="id_username" value="{{form.username.value}}" required placeholder="Имя"/>
      <input type="email" name="email" id="id_email" value="{{form.email.value}}" required placeholder="Электронная почта"/>
      <input type="tel" name="phone_number" id="id_phone_number" value="{{form.phone_number.value}}" required placeholder="Телефон" />
      <input type="text" name="telegram" id="telegram" value="{{form.telegram.value}}" placeholder="Телеграм" />
      <input type="file" id="id_image" name="image" accept="image/*" />
      <input type="submit" value="Сохранить изменения"/>
    </form>
  </div>
</main>
{% endblock content %}

